@model IEnumerable<FA.JustBlog.Core.Models.Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color:red">List Comment</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentTime)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Post)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentTime)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Post.PostContent)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentId">Details</a> |
                    @Html.ActionLink("Delete", "Delete",new {  id=item.CommentId },
                new { onclick = "return confirm('Are U sure to Remove?');"})
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Page navigation text-center" class="d-flex justify-content-center align-items-center">
    <ul class="pagination">
        @if (ViewBag.PageNumber > 1)
        {
            <li class="page-item">
                <a href="/CommentManager/Index?page=1" class="page-link">First Page</a>
            </li>

        }

        @for (int i = 1; i <= Math.Ceiling((decimal)ViewBag.TotalRecord / ViewBag.PageSize); i++)
        {
            <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                <a href="/CommentManager/Index?page=@i" class="page-link">@i</a>
            </li>
        }

        @if (ViewBag.PageNumber < Math.Ceiling((decimal)ViewBag.TotalRecord / ViewBag.PageSize))
        {
            <li class="page-item">
                <a href="/CommentManager/Index?page=@Math.Ceiling((decimal)ViewBag.TotalRecord / ViewBag.PageSize)" class="page-link">Last Page</a>
            </li>
        }
    </ul>
</nav>